<p id="notice"><%= notice %></p>

<h2>Allocations</h2>

<table id="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Created</th>
      <th>To/From</th>
      <th>Channel</th>
      <th>CC</th>
      <th>SKU</th>
      <th>Units</th>
      <th>Show</th>
    </tr>
  </thead>

  <tbody>
    <% @allocations.each do |allocation| %>
      <% if allocation.from_channel_1 != ' ' %>
        <tr>
          <td><%= allocation.name %></td>
          <td><%= display_stamp(allocation.created_at) %></td>
          <td> From </td>
          <td><%= allocation.from_channel_1 %></td>
          <td><%= allocation.from_cc_1 %></td>
          <td><%= allocation.from_sku_1 %></td>
          <td><%= allocation.from_units_1 %></td>
          <td><%= link_to 'Show', allocation %></td>
        </tr>
      <% end %>
      <% if allocation.from_channel_2 != ' ' %>
        <tr>
          <td><%= allocation.name %></td>
          <td><%= display_stamp(allocation.created_at) %></td>
          <td> From </td>
          <td><%= allocation.from_channel_2 %></td>
          <td><%= allocation.from_cc_2 %></td>
          <td><%= allocation.from_sku_2 %></td>
          <td><%= allocation.from_units_2 %></td>
          <td><%= link_to 'Show', allocation %></td>
        </tr>
      <% end %>
      <% if allocation.from_channel_3 != ' ' %>
        <tr>
          <td><%= allocation.name %></td>
          <td><%= display_stamp(allocation.created_at) %></td>
          <td> From </td>
          <td><%= allocation.from_channel_3 %></td>
          <td><%= allocation.from_cc_3 %></td>
          <td><%= allocation.from_sku_3 %></td>
          <td><%= allocation.from_units_3 %></td>
          <td><%= link_to 'Show', allocation %></td>
        </tr>
      <% end %>
      <% if allocation.from_channel_4 != ' ' %>
        <tr>
          <td><%= allocation.name %></td>
          <td><%= display_stamp(allocation.created_at) %></td>
          <td> From </td>
          <td><%= allocation.from_channel_4 %></td>
          <td><%= allocation.from_cc_4 %></td>
          <td><%= allocation.from_sku_4 %></td>
          <td><%= allocation.from_units_4 %></td>
          <td><%= link_to 'Show', allocation %></td>
        </tr>
      <% end %>
      <% if allocation.from_channel_5 != ' ' %>
        <tr>
          <td><%= allocation.name %></td>
          <td><%= display_stamp(allocation.created_at) %></td>
          <td> From </td>
          <td><%= allocation.from_channel_5 %></td>
          <td><%= allocation.from_cc_5 %></td>
          <td><%= allocation.from_sku_5 %></td>
          <td><%= allocation.from_units_5 %></td>
          <td><%= link_to 'Show', allocation %></td>
        </tr>
      <% end %>
      <% if allocation.from_channel_6 != ' ' %>
        <tr>
          <td><%= allocation.name %></td>
          <td><%= display_stamp(allocation.created_at) %></td>
          <td> From </td>
          <td><%= allocation.from_channel_6 %></td>
          <td><%= allocation.from_cc_6 %></td>
          <td><%= allocation.from_sku_6 %></td>
          <td><%= allocation.from_units_6 %></td>
          <td><%= link_to 'Show', allocation %></td>
        </tr>
      <% end %>
      <% if allocation.to_channel_1 != ' ' %>
        <tr>
          <td><%= allocation.name %></td>
          <td><%= display_stamp(allocation.created_at) %></td>
          <td> To </td>
          <td><%= allocation.to_channel_1 %></td>
          <td><%= allocation.to_cc_1 %></td>
          <td><%= allocation.to_sku_1 %></td>
          <td><%= allocation.to_units_1 %></td>
          <td><%= link_to 'Show', allocation %></td>
        </tr>
      <% end %>
      <% if allocation.to_channel_2 != ' ' %>
        <tr>
          <td><%= allocation.name %></td>
          <td><%= display_stamp(allocation.created_at) %></td>
          <td> To </td>
          <td><%= allocation.to_channel_2 %></td>
          <td><%= allocation.to_cc_2 %></td>
          <td><%= allocation.to_sku_2 %></td>
          <td><%= allocation.to_units_2 %></td>
          <td><%= link_to 'Show', allocation %></td>
        </tr>
      <% end %>
      <% if allocation.to_channel_3 != ' ' %>
        <tr>
          <td><%= allocation.name %></td>
          <td><%= display_stamp(allocation.created_at) %></td>
          <td> To </td>
          <td><%= allocation.to_channel_3 %></td>
          <td><%= allocation.to_cc_3 %></td>
          <td><%= allocation.to_sku_3 %></td>
          <td><%= allocation.to_units_3 %></td>
          <td><%= link_to 'Show', allocation %></td>
        </tr>
      <% end %>
      <% if allocation.to_channel_4 != ' ' %>
        <tr>
          <td><%= allocation.name %></td>
          <td><%= display_stamp(allocation.created_at) %></td>
          <td> To </td>
          <td><%= allocation.to_channel_4 %></td>
          <td><%= allocation.to_cc_4 %></td>
          <td><%= allocation.to_sku_4 %></td>
          <td><%= allocation.to_units_4 %></td>
          <td><%= link_to 'Show', allocation %></td>
        </tr>
      <% end %>
      <% if allocation.to_channel_5 != ' ' %>
        <tr>
          <td><%= allocation.name %></td>
          <td><%= display_stamp(allocation.created_at) %></td>
          <td> To </td>
          <td><%= allocation.to_channel_5 %></td>
          <td><%= allocation.to_cc_5 %></td>
          <td><%= allocation.to_sku_5 %></td>
          <td><%= allocation.to_units_5 %></td>
          <td><%= link_to 'Show', allocation %></td>
        </tr>
      <% end %>
      <% if allocation.to_channel_6 != ' ' %>
        <tr>
          <td><%= allocation.name %></td>
          <td><%= display_stamp(allocation.created_at) %></td>
          <td> To </td>
          <td><%= allocation.to_channel_6 %></td>
          <td><%= allocation.to_cc_6 %></td>
          <td><%= allocation.to_sku_6 %></td>
          <td><%= allocation.to_units_6 %></td>
          <td><%= link_to 'Show', allocation %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Allocation', new_allocation_path %>
