<p id="notice"><%= notice %></p>

<h1>Allocations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @allocations.each do |allocation| %>
      <tr>
        <td><%= allocation.name %></td>
        <td><%= display_stamp(allocation.created_at) %></td>
        <td><%= link_to 'Show', allocation %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Allocation', new_allocation_path %>
