<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @allocation.name %>
</p>

<h3> From </h3>
<table>
  <thead>
    <tr>
      <th>Channel</th>
      <th>Cost Center</th>
      <th>SKU</th>
      <th>Description</th>
      <th>Units</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% if @allocation.from_channel_1 != ' ' %>
    <tr>
      <td>
        <%= @allocation.from_channel_1 %>
      </td>
      <td>
        <%= @allocation.from_cc_1 %>
      </td>
      <td>
        <%= @allocation.from_sku_1 %>
      </td>
      <td>
        <% if @allocation.from_sku_1 && @allocation.from_sku_1 != ' ' %>
          <%= get_description(@allocation.from_sku_1) %>
        <% end %>
      </td>
      <td>
        <%= @allocation.from_units_1 %>
      </td>
    </tr>
    <% end %>
    <% if @allocation.from_channel_2 != ' ' %>
    <tr>
      <td>
        <%= @allocation.from_channel_2 %>
      </td>
      <td>
        <%= @allocation.from_cc_2 %>
      </td>
      <td>
        <%= @allocation.from_sku_2 %>
      </td>
      <td>
        <% if @allocation.from_sku_2 && @allocation.from_sku_2 != ' ' %>
          <%= get_description(@allocation.from_sku_2) %>
        <% end %>
      </td>
      <td>
        <%= @allocation.from_units_2 %>
      </td>
    </tr>
    <% end %>
    <% if @allocation.from_channel_3 != ' ' %>
    <tr>
      <td>
        <%= @allocation.from_channel_3 %>
      </td>
      <td>
        <%= @allocation.from_cc_3 %>
      </td>
      <td>
        <%= @allocation.from_sku_3 %>
      </td>
      <td>
        <% if @allocation.from_sku_3 && @allocation.from_sku_3 != ' ' %>
          <%= get_description(@allocation.from_sku_3) %>
        <% end %>
      </td>
      <td>
        <%= @allocation.from_units_3 %>
      </td>
    </tr>
    <% end %>
    <% if @allocation.from_channel_4 != ' ' %>
    <tr>
      <td>
        <%= @allocation.from_channel_4 %>
      </td>
      <td>
        <%= @allocation.from_cc_4 %>
      </td>
      <td>
        <%= @allocation.from_sku_4 %>
      </td>
      <td>
        <% if @allocation.from_sku_4 && @allocation.from_sku_4 != ' ' %>
          <%= get_description(@allocation.from_sku_4) %>
        <% end %>
      </td>
      <td>
        <%= @allocation.from_units_4 %>
      </td>
    </tr>
    <% end %>
    <% if @allocation.from_channel_5 != ' ' %>
    <tr>
      <td>
        <%= @allocation.from_channel_5 %>
      </td>
      <td>
        <%= @allocation.from_cc_5 %>
      </td>
      <td>
        <%= @allocation.from_sku_5 %>
      </td>
      <td>
        <% if @allocation.from_sku_5 && @allocation.from_sku_5 != ' ' %>
          <%= get_description(@allocation.from_sku_5) %>
        <% end %>
      </td>
      <td>
        <%= @allocation.from_units_5 %>
      </td>
    </tr>
    <% end %>
    <% if @allocation.from_channel_6 != ' ' %>
    <tr>
      <td>
        <%= @allocation.from_channel_6 %>
      </td>
      <td>
        <%= @allocation.from_cc_6 %>
      </td>
      <td>
        <%= @allocation.from_sku_6 %>
      </td>
      <td>
        <% if @allocation.from_sku_6 && @allocation.from_sku_6 != ' ' %>
          <%= get_description(@allocation.from_sku_6) %>
        <% end %>
      </td>
      <td>
        <%= @allocation.from_units_6 %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<h3> To </h3>
<table>
  <thead>
    <tr>
      <th>Channel</th>
      <th>Cost Center</th>
      <th>SKU</th>
      <th>Description</th>
      <th>Units</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% if @allocation.to_channel_1 != ' ' %>
    <tr>
      <td>
        <%= @allocation.to_channel_1 %>
      </td>
      <td>
        <%= @allocation.to_cc_1 %>
      </td>
      <td>
        <%= @allocation.to_sku_1 %>
      </td>
      <td>
        <% if @allocation.to_sku_1 && @allocation.to_sku_1 != ' ' %>
          <%= get_description(@allocation.to_sku_1) %>
        <% end %>
      </td>
      <td>
        <%= @allocation.to_units_1 %>
      </td>
    </tr>
    <% end %>
    <% if @allocation.to_channel_2 != ' ' %>
    <tr>
      <td>
        <%= @allocation.to_channel_2 %>
      </td>
      <td>
        <%= @allocation.to_cc_2 %>
      </td>
      <td>
        <%= @allocation.to_sku_2 %>
      </td>
      <td>
        <% if @allocation.to_sku_2 && @allocation.to_sku_2 != ' ' %>
          <%= get_description(@allocation.to_sku_2) %>
        <% end %>
      </td>
      <td>
        <%= @allocation.to_units_2 %>
      </td>
    </tr>
    <% end %>
    <% if @allocation.to_channel_3 != ' ' %>
    <tr>
      <td>
        <%= @allocation.to_channel_3 %>
      </td>
      <td>
        <%= @allocation.to_cc_3 %>
      </td>
      <td>
        <%= @allocation.to_sku_3 %>
      </td>
      <td>
        <% if @allocation.to_sku_3 && @allocation.to_sku_3 != ' ' %>
          <%= get_description(@allocation.to_sku_3) %>
        <% end %>
      </td>
      <td>
        <%= @allocation.to_units_3 %>
      </td>
    </tr>
    <% end %>
    <% if @allocation.to_channel_4 != ' ' %>
    <tr>
      <td>
        <%= @allocation.to_channel_4 %>
      </td>
      <td>
        <%= @allocation.to_cc_4 %>
      </td>
      <td>
        <%= @allocation.to_sku_4 %>
      </td>
      <td>
        <% if @allocation.to_sku_4 && @allocation.to_sku_4 != ' ' %>
          <%= get_description(@allocation.to_sku_4) %>
        <% end %>
      </td>
      <td>
        <%= @allocation.to_units_4 %>
      </td>
    </tr>
    <% end %>
    <% if @allocation.to_channel_5 != ' ' %>
    <tr>
      <td>
        <%= @allocation.to_channel_5 %>
      </td>
      <td>
        <%= @allocation.to_cc_5 %>
      </td>
      <td>
        <%= @allocation.to_sku_5 %>
      </td>
      <td>
        <% if @allocation.to_sku_5 && @allocation.to_sku_5 != ' ' %>
          <%= get_description(@allocation.to_sku_5) %>
        <% end %>
      </td>
      <td>
        <%= @allocation.to_units_5 %>
      </td>
    </tr>
    <% end %>
    <% if @allocation.to_channel_6 != ' ' %>
    <tr>
      <td>
        <%= @allocation.to_channel_6 %>
      </td>
      <td>
        <%= @allocation.to_cc_6 %>
      </td>
      <td>
        <%= @allocation.to_sku_6 %>
      </td>
      <td>
        <% if @allocation.to_sku_6 && @allocation.to_sku_6 != ' ' %>
          <%= get_description(@allocation.to_sku_6) %>
        <% end %>
      </td>
      <td>
        <%= @allocation.to_units_6 %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', allocations_path %>
