<!DOCTYPE html>
<html>
  <head>
    <title>AllocationAdjustment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="position: fixed; top: 0px; width: 100%; height: 8em; background-color: white; z-index: 100;">
      <%= render 'layouts/header' %>
    </div>
    <div style="margin-top: 8.5em;">
      <%= yield %>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>
    <script>
      $(document).ready(function() {
          $('#mytable').DataTable({
            scrollY: "400px",
            scrollCollapse: true,
            paging: false,
            autoWidth: true,
            responsive: true,
            dom: 'Bfrtip',
            buttons: [
              'print'
            ]
          });
      });
    </script>
    <script type="text/javascript">
      function set_description(sku_field, desc_field)
        {
          var skus = ["CHICAP001", "CHICAP002", "CHICAP003", "CHICAP006", "GEENAT001", "GEENAT002", "GEENAT003", "GEENAT004", "GEENAT005", "GEENAT006", "TURHER001", "TURHER002", "TURHER003", "TURNAT003",
                      "TURNAT004", "TURNAT005", "TURNAT012", "TURNAT013", "TURNAT014", "TURNAT015", "TURNAT016", "TURNAT017", "TURNAT018", "TURNAT019", "TURNAT020", "TURNAT021", "TURORG002", "TURORG003",
                      "TURORG004", "TURORG005", "TURORG006", "TURORG007", "TURORG008", "TURORG010", "TURORG011", "TURORG012", "TURORG013", "TURORG014", "TURORG015", "TURORG016", "TURORG017", "TURORG018", "TURORG019",
                      "TURORG029", "TURORG030", "TURORG031", "TURORG032", "TURORG033", "TURORG102", "TURWIL001", "TURWIL002"];
          var descriptions = ["CAPON 6-8-LB", "CAPON 8-11-LB", "CAPON 8-11-LB AVG 38-LB AVG 4/CS", "CAPON 6-8-LBAVG 28-LB AVG 4/CS", "GOOSE 8-10-LB", "GOOSE 10-12-LB", "GOOSE 12-14-LB",
                              "GOOSE 10-12 LB AVG SPECIAL ORDER 4/CS", "GOOSE 12-14 LB AVG SPECIAL ORDER 4/CS", "GOOSE 8-10-LB AVG SPECIAL ORDER 5/CS", "TURKEY HERITAGE 8-11-LB AVG 4/CS SEASONAL",
                              "TURKEY HERITAGE 12-15-LB AVG 4/CS SEASONAL", "TURKEY HERITAGE 16-20-LB AVG 4/CS SEASONAL", "NATURAL TURKEY 12-16LB", "NATURAL TURKEY 16-20LB", "NATURAL TURKEY 20-24LB",
                              "NATURAL TURKEY 8-12-LB 40-LB-CS 4/CS", "NATURAL TURKEY 12-16-LB 56-LB-CS 4/CS","NATURAL TURKEY 16-20-LB 36-LB-CS 2/CS","NATURAL TURKEY 20-24-LB 44-LB-CS 2/CS",
                              "NATURAL TURKEY 24-28-LB 52-LB-CS 2/CS", "TURKEY BREAST NATURAL 4-6-LB AVG SPECIAL ORDER", "TURKEY BREAST NATURAL 6-8-LB AVG SPECIAL ORDER",
                              "TURKEY BREAST NATURAL 8-10-LB AVG SPECIAL ORDER 4/CS", "TURKEY BREAST NATURAL 10-12-LB AVG 4/CS SPECIAL ORDER", "TURKEY BREAST NATURAL 12-14-LB AVG 4/CS SPECIAL ORDER",
                              "TURKEY ORGANIC BREAST BONE IN 4-6-LB SINGLE SEASONAL", "TURKEY ORGANIC BREAST BONE IN 6-8-LB SINGLE SEASONAL", "TURKEY ORGANIC BREAST BONE IN 6-8-LB AVG 6/CS SEASONAL",
                              "TURKEY ORGANIC BREAST BONE IN 8-10-LB AVG SINGLE SEASONAL", "TURKEY ORGANIC BREAST BONE IN 10-12-LB AVG 4/CS SEASONAL",
                              "TURKEY ORGANIC BREAST BONE IN 12-14-LB AVG 4/CS SEASONAL", "TURKEY ORGANIC BREAST BONE IN 8-10-LB AVG 4/CS SEASONAL", "TURKEY ORGANIC WHOLE EA 8-10 LB", "TURKEY ORGANIC WHOLE EA 10-12 LB",
                              "TURKEY ORGANIC WHOLE EA 12-14 LB",
                              "TURKEY ORGANIC WHOLE EA 14-16 LB", "TURKEY ORGANIC WHOLE EA 16-18 LB", "TURKEY ORGANIC WHOLE EA 18-20 LB", "TURKEY ORGANIC WHOLE EA 20-22 LB", "TURKEY ORGANIC WHOLE EA 22-24 LB",
                              "TURKEY ORGANIC EA 24-26 WHOLE LB", "TURKEY ORGANIC EA WHOLE 26-28 LB", "TURKEY ORGANIC HEN 8-12-LB AVG 4/CS SEASONAL", "TURKEY ORGANIC 12-16-LB AVG 4/CS SEASONAL",
                              "TURKEY ORGANIC 16-20-LB AVG 2/CS SEASONAL", "TURKEY ORGANIC 20-24-LB AVG 2/CS SEASONAL", "TURKEY ORGANIC 24-28-LB AVG 2/CS SEASONAL", "TURKEY ORGANIC BREAST BONE IN 4-6-LB AVG 6/CS SEASONAL",
                              "TURKEY WILD 5-7-LB AVG SEASONAL", "TURKEY WILD 8-10-LB AVG SEASONAL"];
          var desc = "Description not found";
          var i;
          var sku_list = document.getElementById(sku_field);
          var sku = sku_list.options[sku_list.selectedIndex].text;
          var skulength = skus.length;
          for (i = 0; i < skulength; i++) {
            if (skus[i] == sku) {
              desc = descriptions[i];
              i = skus.length + 1;
            }
          }
          document.getElementById(desc_field).innerHTML = desc;
        }
    </script>
  </body>
</html>
